<div class="jumbotron text-center">
        <h1>Yup</h1>
        <p style="text-transform: lowercase;color:#00b1ff;">{{ message }}</p>   
</div>
<div class="container" style="background:#fff; min-height:400px;color:#000;font-family: Verdana, Arial, Sans-Serif;
add caching
">
    this is the container
</div>
<button id="btn" ng-click="open()" style="margin-left:245px;" class="btn btn-primary">Register</button>
<div class="container" ng-repeat="business in businesses" style="background:#fcfcfc; min-height:450px;color:#fff;text-transform: lowercase;">
    <div modal="showModal" close="cancel()">
                  <div class="modal-header">
                      <h4>Modal Dialog</h4>
                  </div>
                  <div class="modal-body">
                      <div style="background:#fff;color:#000;height:450px;width:800px;margin-left:185px;">
                        <div class="col-md-8" id="choice-model" ng-controller="mainController">
                          <!--this is to control pages to be shown on a modal-->
                          <li><a style="color:#000" href="#index">Notice</a></li>
                          <li><a style="color:#000" href="#learn">Tutorials</a></li>
                          <li><a style="color:#000" href="#Community">Community</a></li>

                        </div>
                        <div  style="width:100%;">
                            <div class="col-md-7 pull-left" style="margin-left:10px;height:420px;">
                              <!--show and render page into ng-preview-->
                              <div ng-view style="color:#000;"></div>
                            </div>
                            
                        </div>
                      </div>

                  </div>
                  <!--This is the comment area about lesson or other creativity posts-->
                   <div style="background:#fff;color:#000;height:450px;width:800px;margin-left:205px;">
                        
                      </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" ng-click="ok()">Okay</button>
                    <button class="btn btn-danger" ng-click="cancel()">Quit</button>
                  </div>
                </div><!--end of modal preview-->
</div>